In [2]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import subprocess

                  datetime       price
0      2020-11-26 20:48:00  16984.8631
1      2020-11-26 20:49:00  16984.8631
2      2020-11-26 20:50:00  16984.8631
3      2020-11-26 20:51:00  16984.8631
4      2020-11-26 20:52:00  17033.6504
...                    ...         ...
552958 2021-12-15 20:46:00  49181.4530
552959 2021-12-15 20:47:00  49106.6090
552960 2021-12-15 20:48:00  49187.2105
552961 2021-12-15 20:49:00  49143.5994
552962 2021-12-15 20:50:00  49208.9071

[552963 rows x 2 columns]

In [3]:
conn = sqlite3.connect("/mnt/external_hdd/Data/uber.db")
df = pd.read_sql_query("SELECT * FROM bitcoin_coinbase", conn)
conn.close()
df['datetime'] = pd.to_datetime(df['datetime'], format='%Y-%m-%d %H:%M:%S')
df["datetime"].drop_duplicates
df

                  datetime       price
0      2020-11-26 20:48:00  16984.8631
1      2020-11-26 20:49:00  16984.8631
2      2020-11-26 20:50:00  16984.8631
3      2020-11-26 20:51:00  16984.8631
4      2020-11-26 20:52:00  17033.6504
...                    ...         ...
552958 2021-12-15 20:46:00  49181.4530
552959 2021-12-15 20:47:00  49106.6090
552960 2021-12-15 20:48:00  49187.2105
552961 2021-12-15 20:49:00  49143.5994
552962 2021-12-15 20:50:00  49208.9071

[552963 rows x 2 columns]

In [5]:
df[df.isna()]

       datetime  price
0           NaT    NaN
1           NaT    NaN
2           NaT    NaN
3           NaT    NaN
4           NaT    NaN
...         ...    ...
547296      NaT    NaN
547297      NaT    NaN
547298      NaT    NaN
547299      NaT    NaN
547300      NaT    NaN

[547301 rows x 2 columns]

In [2]:
df = df.set_index('datetime').resample('1T').mean().interpolate('linear')

                     price
datetime
2020-11-26 20:48:00    NaN
2020-11-26 20:49:00    NaN
2020-11-26 20:50:00    NaN
2020-11-26 20:51:00    NaN
2020-11-26 20:52:00    NaN
...                    ...
2021-12-11 22:24:00    NaN
2021-12-11 22:25:00    NaN
2021-12-11 22:26:00    NaN
2021-12-11 22:27:00    NaN
2021-12-11 22:28:00    NaN

[547301 rows x 1 columns]

In [4]:
subprocess.run("scp -i ~/.ssh/ssh-key-2021-01-28.key opc@132.145.78.50:/home/opc/Data/coingecko.db /tmp/coingecko_db_vm2.db", shell=True)

CompletedProcess(args='scp -i ~/.ssh/ssh-key-2021-01-28.key opc@132.145.78.50:/home/opc/Data/coingecko.db /tmp/coingecko_db_vm2.db', returncode=0)