In [1]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
conn = sqlite3.connect("/mnt/external_hdd/Data/uber.db")
df = pd.read_sql_query("SELECT * FROM bitcoin_coinbase", conn)
conn.close()
df['datetime'] = pd.to_datetime(df['datetime'], format='%Y-%m-%d %H:%M:%S')
df["datetime"].drop_duplicates
df

0         16984.8631
1         16984.8631
2         16984.8631
3         16984.8631
4         17033.6504
             ...
547296    48743.3494
547297    48733.0940
547298    48762.2863
547299    48757.6035
547300    48785.1871
Name: price, Length: 547301, dtype: float64

In [2]:
df = df.set_index('datetime').resample('1T').mean().interpolate('linear')

In [3]:
df[df.isna()]

                     price
datetime
2020-11-26 20:48:00    NaN
2020-11-26 20:49:00    NaN
2020-11-26 20:50:00    NaN
2020-11-26 20:51:00    NaN
2020-11-26 20:52:00    NaN
...                    ...
2021-12-11 22:24:00    NaN
2021-12-11 22:25:00    NaN
2021-12-11 22:26:00    NaN
2021-12-11 22:27:00    NaN
2021-12-11 22:28:00    NaN

[547301 rows x 1 columns]